
.dialbox-add-product{


  height: 300px;
  width: 400px;
  margin-left: 15px;

}

#delete-button {

  margin-top: 30px;
}

#dialbox-title {

  font-size: 1.5em;
  font-weight: 500;
  margin-left: 15px;

}

.dialbox-content{

  width: 75%;
  margin-top: 30px;
}

